footer {
  background-color: var(--rh-background-color); /*var(--light-color);*/
  font-size: var(--body-font-size-xs);
  /* CUSTOM ADDED FOR ROBINHOOD */
  color: var(--rh-text-color);
}

footer .footer > div {
  /*margin: auto;*/
  /*max-width: 1200px;*/
  padding: 40px 24px 24px;
  /* CUSTOM ADDED FOR ROBINHOOD */
  max-width: 99%;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

/* CUSTOM FOR ROBINHOOD */
@media (min-width: 769px) {
    footer#main-footer .col-logo {
        flex: 0 0 calc(1 / 5 * 100%);
    }
}
@media (min-width: 1280px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
}
@media (min-width: 769px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
}
footer .left {
  padding-right: 10px;
  padding-left: 10px;
}
footer ul {
  margin-bottom: 0;
  list-style: none;
}
footer ul li {
  margin: 0;
  padding: 0;
  font-family: "soehne Buch", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  font-size: 24px;
}
footer .columns-img-col {
  /*margin-left: -100px;*/
  margin-right: -280px;
  align-self: flex-start !important;
  margin-top: 1em;
}
footer .columns-img-col img {
  width: 35px;/*77.75px;*/
  height: 80px;
}
footer ul li a {
  color: var(--rh-text-color) !important;
  background-image: linear-gradient(transparent calc(100% - 1px), #f6efdf 1px) !important;
  background-repeat: no-repeat !important;
  background-size: 0 98% !important;
  transition: background-size .5s ease-in-out !important;
}
footer a {
  color: var(--rh-text-color) !important;
}
footer .col-12-bottom-content, footer .col-12-col-footer-bottom-bottom-content {
  flex: 0 0 auto;
  width: 100%;
  padding-top: 20px;
  margin-top: 120px;
  border-top: 1px solid #f6efdf;
  padding-bottom: 40px;
}
footer div>p {
  font-size: 1.125em;
  line-height: 1.5;
  font-weight: 400;
  font-family: "soehne Buch", sans-serif;
  letter-spacing: 0;
  margin-top: 1em !important;
}
footer .columns-wrapper .columns-2-cols div:first-child {
  display: flex;
}
footer .columns-wrapper div {
  align-self: flex-start;
}
/* THIS SHOULD GO IN SOCIAL-MEDIA.CSS BUT DOES NOT SEEM TO BE WORKING THERE???? */
footer span.icon {
    height: 60px !important;
    width: 60px !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: 1px solid #f6efdf;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    padding: 0;
    transform: translateZ(0);

    z-index: 2;
    border-radius: 50%;
}
footer span.icon {
    margin-right: 20px;
}
footer .columns-2-cols div:first-child>div:last-child {
  text-align: right;
  margin-left: 50px;
  margin-right: 10px;
}

footer .columns-4-cols div.columns-para-col>p:not(:first-child) {
  display: inline-block;
}
/* FOR FORM IN FOOTER */
@media (min-width: 576px) {
    footer#main-footer .col-form .form-content {
        padding-right: 67.5px;
    }
}
@media (max-width: 1279.98px) and (min-width: 769px) {
    .container .row, .modal .container .row {
        margin-right: -7.5px;
        margin-left: -7.5px;
    }
}
footer .container, footer .row, header .container, header .row {
    height: 100%;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}
@media (min-width: 769px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 41%; /*50%;*/
    }
}
footer .columns-basic-form .col-md-6, footer .columns-basic-form .col-md-12 {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
footer .columns-basic-form pre {
  border-color: #f6efdf;
  box-shadow: 0 0 0 0 rgba(var(--bs-danger-rgb), .25);
  padding-right: 0;
  background-image: none;
  font-size: 1.4375em;
  line-height: 1.26087;
  font-weight: 400;
  font-family: "soehne Buch", sans-serif !important;
  letter-spacing: 0;
  color: #f6efdf !important;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
  border-bottom: 1px solid #f6efdf;
  padding: 0 0 10px;
  margin-right: 10px;
  /*width: 100%;*/
}
@media (min-width: 769px) {
    footer#main-footer .input-col:not(:first-child):not(:nth-child(2)) {
        margin-top: 30px;
    }
}
@media (min-width: 769px) {
    .col-md-12 {
        flex: 0 0 auto;
        width: 90%; /*100%;*/
    }
}
/* FOR SUBMIT BUTTON IN SIMULATED FORM IN FOOTER */
footer .form-submit .arrows {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
}
footer .form-submit .arrows.small-arrow.blue, .arrows.small-arrow.blue-2 {
    color: #fff;
    background-color: #002f6c;
    border-color: #f6efdf;
}
@media (min-width: 769px) {
    .arrows.small-arrow {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
}
footer .form-submit .arrows.small-arrow {
  text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid;
    transition: .35s ease-in-out;
    transform: translateZ(0);
}
footer .form-submit button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
footer .form-submit .arrows.small-arrow .icon {
    position: relative;
    z-index: 2;
    transition: .2s;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-width: 769px) {
    .arrows.small-arrow.blue-2.left .icon:before, .arrows.small-arrow.blue.left .icon:before, .ui-on-dark section:not(.block-cta-with-description):not(.block-image-text-carousel) .arrows.left.small-arrow .icon:before {
        background-image: url('/icons/small-arrow-left-green.svg');
    }
}
footer .arrows.small-arrow .icon:before {
    z-index: 1;
}
@media (min-width: 769px) {
    .arrows.small-arrow .icon:after, .arrows.small-arrow .icon:before {
        background-size: auto 30px;
    }
}
footer .arrows.small-arrow .icon:after, .arrows.small-arrow .icon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 30px;
    transition: .2s;
}