footer {
  background-color: var(--rh-background-color); /*var(--light-color);*/
  font-size: var(--body-font-size-xs);
  /* CUSTOM ADDED FOR ROBINHOOD */
  color: var(--rh-text-color);
}

footer .footer > div {
  /*margin: auto;*/
  /*max-width: 1200px;*/
  padding: 40px 24px 24px;
  /* CUSTOM ADDED FOR ROBINHOOD */
  max-width: 99%;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

/* CUSTOM FOR ROBINHOOD */
@media (min-width: 769px) {
    footer#main-footer .col-logo {
        flex: 0 0 calc(1 / 5 * 100%);
    }
}
@media (min-width: 1280px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
}
@media (min-width: 769px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
}
footer .left {
  padding-right: 10px;
  padding-left: 10px;
}
footer ul {
  margin-bottom: 0;
  list-style: none;
}
footer ul li {
  margin: 0;
  padding: 0;
  font-family: "soehne Buch", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  font-size: 24px;
}
footer .columns-img-col {
  /*margin-left: -100px;*/
  margin-right: -280px;
  align-self: flex-start !important;
  margin-top: 1em;
}
footer .columns-img-col img {
  width: 35px;/*77.75px;*/
  height: 80px;
}
footer ul li a {
  color: var(--rh-text-color) !important;
  background-image: linear-gradient(transparent calc(100% - 1px), #f6efdf 1px) !important;
  background-repeat: no-repeat !important;
  background-size: 0 98% !important;
  transition: background-size .5s ease-in-out !important;
}
footer a {
  color: var(--rh-text-color) !important;
}
footer .col-12-bottom-content, footer .col-12-col-footer-bottom-bottom-content {
  flex: 0 0 auto;
  width: 100%;
  padding-top: 20px;
  margin-top: 120px;
  border-top: 1px solid #f6efdf;
  padding-bottom: 40px;
}
footer div>p {
  font-size: 1.125em;
  line-height: 1.5;
  font-weight: 400;
  font-family: "soehne Buch", sans-serif;
  letter-spacing: 0;
  margin-top: 1em !important;
}
footer .columns-wrapper .columns-2-cols div:first-child {
  display: flex;
}
footer .columns-wrapper div {
  align-self: flex-start;
}
/* THIS SHOULD GO IN SOCIAL-MEDIA.CSS BUT DOES NOT SEEM TO BE WORKING THERE???? */
footer span.icon {
    height: 60px !important;
    width: 60px !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: 1px solid #f6efdf;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    padding: 0;
    transform: translateZ(0);

    z-index: 2;
    border-radius: 50%;
}
footer span.icon {
    margin-right: 20px;
}
footer .columns-2-cols div:first-child>div:last-child {
  text-align: right;
  margin-left: 50px;
  margin-right: 10px;
}
